body {
    box-sizing: border-box;
    margin: 0;
    background-color: #d1f0fd;
    font-family: Arial, sans-serif;
}

.containerForm {
    max-width: 300px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #acd6ffa6;
    border-radius: 5px;
    justify-content: center;
}

h1,
h2 {
    text-align: center !important;
    margin: 1rem 0 2rem 0 !important;
}

p {
    text-align: center;
    margin: 1rem 0 2rem 0 !important;
    font-size: 1.2rem;
}

.centered {
    display: flex !important;
    width: max-content;
    margin: 1rem auto !important;
}

button.btn-primary {
    display: flex;
    width: max-content;
    margin: 1rem auto;
}

.bordered {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.actions {
    margin-left: 5rem;
}

form div {
    margin: 0.5rem;
}

.listIndex {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: max-content;
    margin: auto;
}

.listIndex a {
    width: max-content;
}

.containerAccueil {
    display: flex;
    justify-content: space-around;
}