{% extends 'base.html.twig' %}
{% block stylesheets %}
           	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    <div class="containerForm">
        {{ include('categories/_form.html.twig') }}
    </div>

    <a class="btn btn-outline-secondary centered" href="{{ path('app_categories_index') }}">back to list</a>
{% endblock %}
